
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-container nav{
  display: flex;
  justify-content: center;
  font-family: "Google Sans", sans-serif;
  text-align: center;
}

.hero-container .gradient-blinds-container {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    min-height: 100vh;   
    pointer-events: none;
    font-family: "Google Sans", sans-serif;
    text-align: center;
}

.cont h1{
    letter-spacing: -3px;
    font-size: 50px;
    font-weight: 1000;
    color: aliceblue;
}

.rotate{
    letter-spacing: -3px;
    font-size: 50px;
    font-weight: 1000;
}